$light-text: 200;
$bold-text: 600;

$tiny-text: 10px;
$small-text: 12px;
$body-text: 14px;
$header-text: 16px;

h1, h2 {
  margin-top: 0px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 20px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 16px;
}
.pull-parent { margin-top: -0.6em; }


.icon-large { font-size: 85px; }
.icon-md { font-size: 35px; }
