.table {
    thead, tbody, tfoot {
        tr {
            td, th {
                vertical-align: middle;

                > a {
                    color: $darker-grey;
                }

                .btn {
                    color: $white;
                }
                .dropdown {
                    display: inline;
                }

                .handle {
                    opacity: 0.5;
                    cursor: move;
                    cursor: -webkit-grab;
                }

            }

            &.disabled {
                opacity: 0.8;
                td, th {
                    > a {
                        color: $mid-grey;
                        text-decoration: line-through;
                    }
                    div.dropdown {

                        display: none;
                    }

                    .handle {
                        display: none;
                    }
                }
            }

            &.row-placeholder {
                height: 47px !important;

                background: $light-grey;


            }
        }
    }
}


/* Media queries
-------------------------------------------------- */

/* Extra small devices (phones, less than 768px) */
@media (max-width: $screen-sm-min) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}